html,
body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

body {
  display: grid;
  place-items: center;
  background-image: url("../Resources/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* The box */
#login {
  width: 250px;
  height: 250px;
  padding: 60px 30px 30px 30px;
  background: rgba(94, 145, 170, 0.2);
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box-logo {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
}
.input-box {
  width: 100%;
  padding: 12px 15px;
  margin: 12px 0;
  border-radius: 8px;
  border: none;
  font-size: 14px;
}

.btn {
  width: 100%;
  padding: 12px 0;
  margin-top: 10px;
  background: rgba(48, 65, 99, 1);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.forgot {
  margin-top: 10px;
  font-size: 14px;
  color: rgba(48, 65, 99, 1);
  text-decoration: none;
}
.forgot:hover {
  text-decoration: underline;
}
